$color: #405A69;
$color1: #F0EEEA;
.button {
    /* block */
    display: inline-block;
    padding: 0.75rem 1.25rem;
    position: relative;
    
    overflow: hidden;
    z-index: 1;
    /* decoration */
    border-radius: 10px;
    /* font decoration */
    text-decoration: none;
    text-align: center;
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 144.52%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    /* animation */
    transition: all .3s;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($color, 15%);
        transition: all .3s;
        z-index: -1;
    }
    &:hover {
        color: #fff;

        &:before {
            width: 100%;
        }
    }
}

/* optional reset for presentation */

.light-button {
    /* block */
    display: inline-block;
    padding: 0.75rem 1.25rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    /* decoration */
    border-radius: 10px;
    /* font decoration */
    text-align: center;
    font-family: 'Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 144.52%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #161202;
    text-decoration: none;
    /* animation */
    transition: all .3s;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color1;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($color1, 15%);
        transition: all .3s;
        z-index: -1;
    }
    &:hover {
        color: #fff;

        &:before {
            width: 100%;
        }
    }
}

