/* Блок образование и карусель сертификатов */
@import "style.scss";


.certificates-and-education {
    background-color: $blue-dark;
  }
  
  .certificates-and-education__wrapper {
    padding: 5% 10%;
  }
  
  .certificates-and-education__carousel__container {
    display: grid;
    grid-template-rows: 40% 30% 30%;
    grid-template-columns: 65% 35%;
    grid-template-areas:
      "vert li"
      "hor hor"
      "dip dip";
    grid-gap: 1%;
  }
  
  .certificates-and-education__carousel__vertical {
    grid-area: vert;
  }
  
  .certificates-and-education__carousel__list {
    grid-area: li;
  }
  
  .certificates-and-education__carousel__horizontal {
    grid-area: hor;
  }
  
  .certificates-and-education__carousel__diploma {
    grid-area: dip;
  }
  
  .certificates-and-education__heading {
    color: $colorbrownblock;
    font: 400 60px "Noto Serif", sans-serif;
    text-transform: uppercase;
    text-align: center;

  }

  .certificates-and-education__list__ul {
    margin: 5% 2%;
    list-style-image: url("../../assets/images/certificates/list-icon.png");
    list-style-position: inside;
    text-align: center;
   
  }
  
  .certificates-and-education__list__item {
    margin-bottom: 3%;
    font: 400 22px "Noto Serif", sans-serif;
    color: $colorbrownblock;
  }

  .certificates-and-education__list__item:hover {
    box-shadow: 0 3px 10px 2px #30444f;
    transition: box-shadow 0.2s ease-out;
  }
  
  @media screen and (max-width: $tablet) {
    .certificates-and-education__carousel__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .certificates-and-education__heading {
        color: $colorbrownblock;
        font: 400 24px "Noto Serif", sans-serif;
        text-transform: uppercase;
        text-align: center;   
    }
  
    .certificates-and-education__list__item {
      margin-bottom: 1%;
      font: 400 14px "Noto Serif", sans-serif;
      color: $colorbrownblock;
    }
  }
  