@import "style.scss";

h1 {
    margin: 0;
}

.contacts {
    background-color: $colorbrownblock;
    width: 100%;
    padding: 90px 20px 0 20px;
}

.contacts__title {
    font: normal 400 25px/34px 'Noto Serif', serif;
    color: $colorbrowntext_3;
    text-transform: uppercase;
    text-align: center;
}

.contacts__map {
    width: 100%;
    padding-bottom: 10px;
}

.map__wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contacts__gridcontainer-data {
    @extend %block6-text;
}

.contacts__gridcontainer {
    @media screen and (max-width:767px) {
        & {
            display: grid;
            grid-template-columns: 80px 290px;
            grid-template-rows: repeat(4, 70px);
            justify-content: center;
            margin-top: 40px;
        }
    }

    &-data {
        @extend %block6-text;
        align-self: center;
    }

    img {
        align-self: center;
    }

    &-adress {
        @extend %block6-text;
        font-size: 17px;
        grid-column: 1/3;
        margin-top: 5px;
    }
}

.map__wrapper {
    @media screen and (max-width: 767px) {
        margin: 0 auto;
        width: 100%;
    }
}

.contacts__gridcontainer {
    @media screen and (min-width:767px) {
        & {
            display: grid;
            grid-template-columns: 180px 450px;
            grid-template-rows: repeat(4, 70px);
            justify-content: center;
            margin-top: 40px;
        }
    }
}

@media screen and (min-width:767px) {
    .contacts__title {
        font: normal 400 60px/82px 'Noto Serif', serif;
        color: $colorbrowntext_3;
        word-break: normal;
    }

    .contacts__gridcontainer-data {
        font: normal 400 22px/29px 'Noto Serif', serif;
        color: $colorbrowntext_3;
    }
}

.contacts__gridcontainer {
    @media screen and (max-width:350px) {
        & {
            display: grid;
            grid-template-columns: 80px 200px;
            grid-template-rows: repeat(4, 70px);
            justify-content: center;
            margin-top: 40px;
        }
    }
}