@import "style.scss";

.examples-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $colorblue_1;
  padding: 50px 0px 30px;
}

.examples-wrapper__title,
.examples-subtitle {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: $colorwhite;
}

.examples-wrapper__title {
  padding: 35px 0px 10px;
  margin: -25px;
  @extend %block2-head-mob;
  font-size: 14px;
}

.examples-subtitle {
  padding: 10px;
  @extend %block2-1-head-mob;
  font-size: 9px;
}

.examples {
  width: 80%;
  display: flex;
  justify-content: center;
  &__text-slide {
    font: 400 20px/24px "Noto Serif", sans-serif;
  }

  &__img-slide-4_direction {
    transform: rotate(180deg);
  }

  &__img-slide-5_direction {
    transform: rotate(-90deg);
  }
}

@media screen and (min-width: 768px) {
  .examples-wrapper {
    padding-bottom: 40px;
  }

  .examples-wrapper__title {
    font-size: 24px;
    margin-bottom: -50px;
    padding-top: 50px;
  }

  .examples-subtitle {
    font-size: 13px;
  }

  .examples__text-slide {
    font-size: 30px;
    line-height: 50px;
  }
}
