@import "style.scss";

.examples-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $colorblue_1;
  padding: 50px 0px 30px;
  overflow-x: hidden;
}

.examples-wrapper__title,
.examples-subtitle {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: $colorwhite;
}

.examples-wrapper__title {
  @extend %block2-head-mob;
  font-size: 13px;
}

.examples-subtitle {
  margin: 5px;
  @extend %block2-1-head-mob;
  font-size: 10px;
}

.examples {
  width: 80%;

  &__text-slide {
    font: 400 20px/24px "Noto Serif", sans-serif;
  }

  &__img-slide-4_direction {
    transform: rotate(180deg);
  }

  &__img-slide-5_direction {
    transform: rotate(-90deg);
  }
}

@media screen and (min-width: 768px) {
  .examples-wrapper__title {
    font-size: 35px;
  }

  .examples-subtitle {
    font-size: 20px;
  }

  .examples__text-slide {
    font-size: 50px;
    line-height: 50px;
  }
}

.carousel-caption {
  z-index: 0;
}

.carousel-indicators {
  z-index: 1;
}