html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

$background-dark-blue: #405A69;
$mobile-common-text: normal 400 11px/20px 'Noto Serif', serif;

@media screen and (max-width: 767px) {

    .wrapper {
        width: 100vw;
        padding: 0 20px 0 20px;
        background-color: $background-dark-blue;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_link {
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: 30px 0 30px 0;
    }

    .footer_link a {
        padding: 0 10px 0 10px;
        text-decoration: none;
    }

    .footer_link img {
        width: 45px;
    }

    .footer_address {
        margin-bottom: 30px;
        font: $mobile-common-text;
        font-size: 13px;
        text-align: center;
        color: white;
    }

    .footer_address span {
        text-decoration: underline;
    }

    .footer_copyright {
        padding: 15px 0 15px 0;
        font: $mobile-common-text;
        text-align: center;
        border-top: 1.5px solid #27394b;
        background-color: $background-dark-blue;
        color: white;
    }
}