//Переменная для белого цвета
$white: #ffffff;
@import 'style.scss';

.header {
   position: fixed;
   background-color: $white ;
   width: 100%;
}

.menu {
   max-width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin-top: 34px;
   flex-wrap: wrap;

   &:first-child {
      margin-left: 51px;

      .logo-pic {
         padding-top: 11px;
      }
   }

   &:last-child {
      margin-right: 51px;
   }
}

.menu__list {
   max-width: 100%;
   list-style-type: none;

   .menu__item {
      padding: 8px 20px;
      display: inline;
      float: left;

      .menu__link {
         position: relative;
         display: block;
         font: 300 21px/29px 'Noto Serif', lighter;
         text-align: center;
         text-transform: uppercase;
         text-decoration: none;
         color: $colorbrowntext_2 ;
         transition: 0.5s;

         &::after {
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            width: 100%;
            height: 3px;
            background: $colorblue_1;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s;
         }

         &:hover {
            color: $colorbrowntext_1 ;
         }

         &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
         }
      }
   }

}

@media (max-width:1900px) {
   .menu__list {
      padding-right: 10px;
   }



}

@media (max-width:767px) {
   .menu {
      display: none;
   }

}
@media (min-width:767px) {
   .wrapper {
      display: none;
   }

}
@media(min-width:701px)and(max-width:959px) {
   .menu {
      &:first-child {
         margin-left: 5px;
      }

      &:last-child {
         margin-right: 5px;
      }
   }

   .menu__item {
      padding: 6px 10px;

   }

   .menu__list {
      padding-right: 0px;
   }
}