.menu {
   max-width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 34px;

   &:first-child {
      margin-left: 129px;
      .logo-pic {
         padding-top: 11px;
      }
   }
   &:last-child {
      margin-right: 10%;
   }
}
.menu__list {
   max-width: 100%;
   list-style-type: none;
   .menu__item {
      padding: 6px 40px;
      display: inline;
      float: left;

      .menu__link {
         position: relative;
         display: block;
         padding: 4px 0;
         font-family: 'Noto Serif';
         font-style: normal;
         font-weight: 300;
         font-size: 21px;
         line-height: 29px;
         text-align: center;
         text-transform: uppercase;
         text-decoration: none;
         color: rgba(22, 18, 2, 0.87);
         transition: 0.5s;

         &::after {
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            width: 100%;
            height: 3px;
            background: #405A69;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s;
         }

         &:hover {
            color: rgba(22, 18, 2, 0.87);
            font-weight: 400;
         }

         &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
         }
      }
   }
 
}
