//Переменные для цвета

//Переменная цвета для хедера, активная вкладка
$colorbrowntext_1: #100e07de;

//Переменная цвета для хедера, неактивная вкладка
$colorbrowntext_2: #131108;

//Переменная цвета для заголовка 1
$colorbrowntext_3: #161202;

//Переменная цвета для текста в блоке 1
$colorbrowntext_4: #1a1919;

//Переменная цвета для фона светло-коричневый
$colorbrownblock: #f0eeea;

//Переменная для синего цвета
$colorblue_1: #405a69;

//Переменная для белого цвета
$white: #ffffff;

//Переменная для серого цвета
$grey: #c5c1c1;

//Переменная для голубого цвета
$colorblue_2: #afd1d1;

//Переменная для серого цвета
$colorgrey: #373018;

//Переменная для белого цвета
$colorwhite: #ffffff;

//Переменная для темно=синего цвета
$blue-dark: #181945;

//Щаблоны для десктопной версии
$desktop: 1280px;

//Щаблоны для планшетной версии
$tablet: 768px;

//Шаблон для шрифта и цвета хедера

%header {
<<<<<<< HEAD
   font-family: Noto Serif;
   font-style: normal;
   font-size: 21px;
   line-height: 28.6px;
   color: $colorbrowntext_2;
=======
    font-family: Noto Serif;
    font-style: normal;
    font-size: 21px;
    line-height: 28.6px;
    color: $colorbrowntext_2;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

.header-test {
    @extend %header;
}

//Шаблон для шрифта и цвета заголовка блока 1

%block1-head {
<<<<<<< HEAD
   font-family: Noto Serif;
   font-style: normal;
   font-size: 60px;
   line-height: 81.72px;
   color: $colorbrowntext_3;
=======
    font-family: Noto Serif;
    font-style: normal;
    font-size: 60px;
    line-height: 81.72px;
    color: $colorbrowntext_3;
    word-break: break-word;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

.block1-test--head {
    @extend %block1-head;
}

//Шаблон для шрифта и цвета текста блока 1

%block1-text {
<<<<<<< HEAD
   font-family: Noto Serif;
   font-style: normal;
   font-size: 22px;
   line-height: 29.96px;
   color: $colorbrowntext_4;
=======
    font-family: Noto Serif;
    font-style: normal;
    font-size: 22px;
    line-height: 29.96px;
    color: $colorbrowntext_4;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

.block1-test--text {
    @extend %block1-text;
}

//Шаблон для шрифта и цвета заголовка блока 2

%block2-head {
<<<<<<< HEAD
   font-family: Noto Serif;
   font-style: normal;
   font-size: 60px;
   line-height: 81.72px;
   color: $colorwhite;
   background-color: $colorblue_1;
=======
    font-family: Noto Serif;
    font-style: normal;
    font-size: 60px;
    line-height: 81.72px;
    color: $colorwhite;
    background-color: $colorblue_1;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

//Шаблон для шрифта и цвета текста блока 2

%block2-text {
<<<<<<< HEAD
   font-family: Noto Serif;
   font-style: normal;
   font-size: 22px;
   line-height: 29.96px;
   color: $colorwhite;
   background-color: $colorblue_1;
=======
    font-family: Noto Serif;
    font-style: normal;
    font-size: 22px;
    line-height: 29.96px;
    color: $colorwhite;
    background-color: $colorblue_1;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

//Шаблон для кнопки "Запись прием" синего цвета

%button1 {
<<<<<<< HEAD
   font-family: Garamond;
   font-style: normal;
   font-size: 18px;
   line-height: 20.25px;
   color: $colorwhite;
   background-color: $colorblue_1;
=======
    font-family: Garamond;
    font-style: normal;
    font-size: 18px;
    line-height: 20.25px;
    color: $colorwhite;
    background-color: $colorblue_1;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

%footer {
    font-family: Noto Serif;
    font-style: normal;
    font-size: 21px;
    line-height: 28.6px;
    color: $colorwhite;
    background-color: $colorblue_1;
}

//Шаблоны для мобильной версии
//Шаблон для активной кнопки хедера (главная) для мобильной версии

%button2 {
<<<<<<< HEAD
   font-family: Garamond;
   font-style: normal;
   font-size: 7px;
   line-height: 7.88px;
   color: $colorgrey;
   background-color: $colorblue_2;
=======
    font-family: Noto serif;
    font-style: normal;
    font-size: 12px;
    line-height: 16.34px;
    color: $colorgrey;
    background-color: $colorblue_2;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

//Шаблон для кнопок хедера для мобильной версии

%button3 {
<<<<<<< HEAD
   font-family: Garamond;
   font-style: normal;
   font-size: 7px;
   line-height: 7.88px;
   color: $colorwhite;
   background-color: $colorblue_1;
=======
    font-family: Noto Serif;
    font-style: normal;
    font-size: 12px;
    line-height: 16.34px;
    color: $colorwhite;
    background-color: $colorblue_1;
}

//Шаблон для кнопки "Запись прием" синего цвета в хедере мобильной версии

%button5 {
    font-family: Garamond;
    font-style: normal;
    font-size: 7px;
    line-height: 7.88px;
    color: $colorwhite;
    background-color: $colorblue_1;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

//Шаблон для шрифта и цвета заголовка блока 1 мобильной версии (главная)

%block1-head-mob {
<<<<<<< HEAD
   font-family: Noto Serif;
   font-style: normal;
   font-size: 25px;
   line-height: 34.05px;
   color: $colorwhite;
=======
    font-family: Noto Serif;
    font-style: normal;
    font-size: 25px;
    line-height: 34.05px;
    color: $colorwhite;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

//Шаблон для шрифта и цвета текста блока 1 мобильной версии (главная)

%block1-text-mob {
<<<<<<< HEAD
   font-family: Noto Serif;
   font-style: normal;
   font-size: 11px;
   line-height: 14.98px;
   color: $colorwhite;
   background-color: $colorbrownblock;
=======
    font-family: Noto Serif;
    font-style: normal;
    font-size: 11px;
    line-height: 14.98px;
    color: $colorwhite;
    background-color: $colorbrownblock;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

//Шаблон для кнопки записи на прием для мобильной версии (главная)

%button4 {
<<<<<<< HEAD
   font-family: Garamond;
   font-style: normal;
   font-size: 7px;
   line-height: 7.88px;
   color: $colorbrowntext_3;
   background-color: $colorbrownblock;
=======
    font-family: Garamond;
    font-style: normal;
    font-size: 7px;
    line-height: 7.88px;
    color: $colorbrowntext_3;
    background-color: $colorbrownblock;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

//Шаблон для шрифта и цвета заголовка Frame 6, Frame 10, сретификаты и образование мобильной версии

%block2-head-mob {
<<<<<<< HEAD
   font-family: Noto Serif;
   font-style: normal;
   font-size: 25px;
   line-height: 34.05px;
   color: $colorwhite;
   background-color: $colorblue_1;
=======
    font-family: Noto Serif;
    font-style: normal;
    font-size: 25px;
    line-height: 34.05px;
    color: $colorwhite;
    background-color: $colorblue_1;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

//Шаблон подзаголовка до/после Frame 10 мобильной версии

<<<<<<< HEAD
%block2-head-mob {
   font-family: Noto Serif;
   font-style: normal;
   font-size: 18px;
   line-height: 24.52px;
   color: $colorbrowntext_3;
=======
%block2-1-head-mob {
    font-family: Noto Serif;
    font-style: normal;
    font-size: 5px;
    line-height: 24.52px;
    color: $colorbrowntext_3;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

//Шаблон для шрифта и цвета текста с фоном сертификаты и образование мобильной версии

%block3-text-mob {
<<<<<<< HEAD
   font-family: Noto Serif;
   font-style: normal;
   font-size: 11px;
   line-height: 14.98px;
   color: $colorwhite;
   background-color: $colorblue_1;
=======
    font-family: Noto Serif;
    font-style: normal;
    font-size: 11px;
    line-height: 14.98px;
    color: $colorwhite;
    background-color: $colorblue_1;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

//Шаблон для шрифта и цвета текста сертификаты и образование мобильной версии

%block4-text-mob {
<<<<<<< HEAD
   font-family: Noto Serif;
   font-style: normal;
   font-size: 11px;
   line-height: 14.98px;
   color: $colorbrowntext_3;
=======
    font-family: Noto Serif;
    font-style: normal;
    font-size: 11px;
    line-height: 14.98px;
    color: $colorbrowntext_3;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

//Шаблон для шрифта и цвета заголовка Frame 8 мобильной версии

%block5-head-mob {
<<<<<<< HEAD
   font-family: Noto Serif;
   font-style: normal;
   font-size: 25px;
   line-height: 34.05px;
   color: $colorblue_1;
   text-transform: uppercase;
   text-align: center;
   font-weight: lighter;
   letter-spacing: 1px;
   margin-left: 24px;
=======
    font-family: Noto Serif;
    font-style: normal;
    font-size: 25px;
    line-height: 34.05px;
    color: $colorblue_1;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

//Шаблон для шрифта и цвета текста Frame 8 мобильной версии

%block6-text {
<<<<<<< HEAD
   font-family: Noto Serif;
   font-style: normal;
   font-size: 11px;
   line-height: 25px;
   margin-top: 10px;
   color: $colorbrowntext_3;
=======
    font-family: Noto Serif;
    font-style: normal;
    font-size: 11px;
    line-height: 14.98px;
    color: $colorbrowntext_3;
>>>>>>> 8b27c3b0ed7e92140c4b0855117997c709650e20
}

//Шаблон для футера для мобильной версии

%footer-mob {
    font-family: Noto Serif;
    font-style: normal;
    font-size: 12px;
    line-height: 16.34px;
    color: $colorwhite;
    background-color: $colorblue_1;
}
//Блок с карточками

.methodology-and-checklists {
    background-color: $colorblue_1;

    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 37px;
        width: 100%;
    }

    &__card {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        max-width: 400px;
        width: 100%;
        padding: 16px 16px 22px;
        background-color: $white;

        &__img {
            width: 100%;
            margin-bottom: 18px;
        }

        &__title {
            margin: 0 0 12px;
            font: 700 12px/16px "Garamond", sans-serif;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: $colorbrowntext_3;
        }

        &__subtitle {
            margin: 0 0 12px;
            font: 700 18px/24px "Eudoxus Sans", sans-serif;
            color: $blue-dark;
            &-main {
                margin-bottom: 15px;
            }
        }

        &__text {
            margin: 0 0 36px;
            font: 500 16px/22px "Eudoxus Sans", sans-serif;
            color: $grey;
        }

        &__list {
            font: 500 16px/22px "Eudoxus Sans", sans-serif;
            list-style-type: none;
            padding: 0;
            margin: 0 0 10px;
            color: $grey;
            & > li {
                margin-bottom: 4px;
            }
        }

        &__button {
            margin: auto auto 0;
            background-color: $colorblue_1;
            color: $white;
            padding: 20px 0;
            border-radius: 15px;
            max-width: 250px;
            width: 100%;
            text-decoration: none;
            text-align: center;
            font: 600 18px/26px "Garamond", sans-serif;

            &:hover {
                box-shadow: 0 3px 10px 2px #30444f;
                transition: box-shadow 0.2s ease-out;
            }
        }
    }

    &__wrapper {
        margin: 0 auto;
        padding: 72px 20px;
    }

    &__info-content {
        max-width: 1000px;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        margin: 0 0 22px;
        font: 400 28px/36px "Noto Serif", sans-serif;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: $white;
        word-break: break-word;
    }

    &__about,
    &__about-second {
        margin: 0 auto 22px;
        font: 400 14px/18px "Noto Serif", sans-serif;
        letter-spacing: 0.04em;
        color: $white;
    }

    @media (min-width: $tablet) {
        &__cards {
            flex-direction: row;
            justify-content: center;
            gap: 37px;
            width: 100%;
        }

        &__card {
            align-self: stretch;
        }

        &__title {
            font: 400 60px/86px "Noto Serif", sans-serif;
        }

        &__about,
        &__about-second {
            font: 400 22px/30px "Noto Serif", sans-serif;
        }
    }

    @media (max-width: $tablet) {
        & .d-md-block {
            display: none;
        }
    }
}

.overflow-hidden {
    overflow-x: hidden;
}